<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newUser</title>
</head>
<body>
    <h1>Join Our Dashing Community !!!</h1>
    <form method="POST" action="/users/add?_method=PUT">
        <input type="text" name="username" placeholder="username">
        <br><br>
        <input type="text" name="email" placeholder="email">
        <br><br>
        <input type="password" name="password" placeholder="password">
        <br><br>
        <button>submit</button>
    </form>
</body>
</html>